@import '@radix-ui/colors/gray.css';

$brand-color: #da532c;

::selection {
  background-color: rgba($brand-color, 0.2);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.875;
  color: var(--gray-12);
  -webkit-font-smoothing: subpixel-antialiased;
  padding-top: 6rem; // header height

  /* stylelint-disable */
  @media only screen and (min-device-pixel-ratio: 2), (resolution >=2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* stylelint-enable */

  @media screen and (max-width: 767px) {
    // PC: 16px相当、SP: 18px相当
    font-size: 112.5%;
  }
}

a {
  color: $brand-color;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    bottom: -0.25em;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scale(0);
    transform-origin: right top;
    transition: transform 0.3s;
  }

  &:hover::before {
    transform-origin: left top;
    transform: scale(1);
  }
}

h1,
h2,
h3 {
  color: var(--gray-12);
  font-weight: 900;
  letter-spacing: 0.08em;
}

h4,
h5,
h6 {
  color: var(--gray-11);
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
