.container {
  padding: 0 64px;

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  & + & {
    margin-top: 40px;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 700;
}

.subContainer {
  margin-top: 1.25rem;

  & + & {
    margin-top: 2rem;
  }
}
